@import url("https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    
}
header{
    display: flex;
    background-color: white;
    padding: 20px 8%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 0;
}
.navbar a{
    margin-right: 36px;
    text-align: right;
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#logo {
    color: black;
    font-size: 32px;
    display: flex;
    margin-left: 30px;
    font-weight: bold;
    align-items: center;
    font-family: 'Work Sans' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #000;
}
#Main{

    background-image: url('Wallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(200, 100, 0, 0.5);
    background-blend-mode: multiply;
    position: relative;
    color: whitesmoke;
    display: flex;
    align-items: center;
    height: 95vh;
    padding: 0 10%;
}

#MainBody{
    max-width: 600px;
}
#MainBody h1{ 
    font-size: 55px;
    font-weight:700;
}
#MainBody h3{ 
    font-size: 30px;
    font-weight:700;
}
#socials{
    position: absolute;
    bottom: 15%; 
    right: 1%; 
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    transition: 0.7s;
}
#Main h3 span.bsit {
    color: rgba(255, 220, 107, 0.767);
}
#Main h1 span.Hi {
    color: rgba(255, 220, 107, 0.767);
}
#socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border: 4px solid rgba(255, 220, 107, 0.767);
    border-radius: 50%;
    text-decoration: none;
    color: rgba(255, 220, 107, 0.767);
    background: transparent;
    position: relative;
    transition: color 0.3s ease-in;
}
#socials a:hover {
    color: black;
    background-color: white;
}
#Main2{
    background-image: url('Wallpaper4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(200, 100, 0, 0.5);
    background-blend-mode: multiply;
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#AboutMe h1{ 
    font-size: 55px;
    font-weight:700;
}
#AboutMe p{ 
    font-size: 30px;
    margin: 20px 0 40px;
}
#AboutMe {
    margin-left: 50px; 
}
#borderpic{
    border-radius: 50%;
    border: 4px solid #fff; 
    max-width: 500px; 
    max-height: 500px; 
    object-fit: cover; 
    margin-right: 10px; 
    margin-left: 10px; 
}
#AboutMe .btnbox {
    height: 50px;
    width: 345px;
    
}
.btnbox {
    position: relative;
    display: inline-block;
}

.btnbox a {
    width: 150px;
    height: 100%;
    background-color: rgb(151, 34, 116);
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans";
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}
.btnbox a:hover{
  color:black;
  background-color: white;
}

#resume-section {
    width: 100%;
	min-height: 100vh;
	background-image: url('wallhaven.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(200, 100, 0, 0.5);
    background-blend-mode: multiply;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
    width: 100%;
    padding: 35px 10%;
}
.container{
	padding-right: calc(10% - 30px);
}

main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.title{
	font-family: helvetica;
	color: skyblue;
    z-index: 1;
    padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid white;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px white;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color:skyblue;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: skyblue;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #ffffff;
}
.box p{
	line-height: 1.2;
	color: #ffffff;
	font-size: 17px;
}
@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}

.btnbox2 {
    position: relative;
    display: inline-block;
}

.btnbox2 a {
    width: 200px;
    height: 110%;
    background-color: rgb(221, 77, 178);
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans";
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}
.btnbox2 a:hover{
  color:black;
  background-color: white;
}

.sectionskills{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5em;
    margin-left: 1em;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:40vh;
   background-color: #000000   ; 
}

#SkillsExperience{
    padding-top: 10px;
}

.containers
{ 
    
 display: flex;
justify-content: center;
align-items: center;
z-index: 1;
  position:relative;
  width: 200px;
  display:flex;
  justify-content:space-around;
  padding: 1px;
}

.containers .card
{
  position:relative;
  width:250px;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.containers .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.containers .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.03);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#000000;
  z-index:1000;
}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#ffffff;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:#fff;
  font-size:24px;
  transition:0.5s;
}
.card:hover .percent .num h2 span
{
  color:#fff;
}
.text
{
  position:relative;
  color:#fff;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#222222;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}

#card1:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke:rgb(221, 77, 178);
  }

#card2:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke:rgb(221, 77, 178);
  }
  
#card3:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke:rgb(221, 77, 178);
  }
  
#card4:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke:rgb(221, 77, 178);
  }
  


#bodyskills{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    background: rgb(0, 0, 0);
}
.h1skill{
    color: white;
    position: relative; 
    bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    z-index: 3s;
    text-align: left;
}
.h3skill{ 
    margin: 5px;
}
.skills{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 list-style: none;
margin: 60px auto;
color: #fff;
padding: 20px;
height: 16em;
width: 50em; 
margin-left: 5em; 
margin-top: 14em;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252,103,103,1)100%);
}
.html{
    width: 80%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}

.cplus{
    width: 50%;
    animation: cplus 3s;
}

.csharp{
    width: 40%;
    animation: csharp 3s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes cplus {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes csharp {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
#h1skills{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 3em;
}
.parent-container {
    display: flex;
}

.containers-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    
}
#secskil {
    display: flex;
  }

.percentage {
    position: absolute;
    right: 9%; 
    color: white; 
    z-index: 2; 
}
#SkillsExperience{
    height: 900px;
}
#titlecode{
    color: white;
    position: relative; 
    top: 50px;
    left: 9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    z-index: 3;
}

.bodycontact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #000000;
}
.contact{
    margin-right: 20px;
}
.contact h2{
font-size: 40px;
color: white;
text-align: center;
margin-bottom: 10px;
margin-left: 35px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(221, 77, 178);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    margin: 12px 0;
}

.field .item::placeholder{
    color: #ffffff;
}

form .textarea-field .item{
    resize: none;
}
form button {
    padding:12px 32px;
    background: rgb(221, 77, 178);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(221, 77, 178);
    font-size: 16px;
    color:#222222;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;
}
form button:hover{
    box-shadow: none;
}

.pinkfont{
    color:rgb(221, 77, 178);
}


 
footer {
    background-color: purple;
    color: white;
    padding: 1rem;
    text-align: left;
  }