* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    vertical-align: auto
  }
  body{
    background-image: url('Gallery/city.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }
  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: normal;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
  }
  .gallery {
    display: flex;
    margin: 10px auto;
    max-width: 600px; /* $max-img-width */
    position: relative;
    padding-top: calc(100 / 200 * 60%); /* $max-img-height / $max-img-width * 100% */
  }
  
  .gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gallery__thumb {
    padding-top: 1px;
    margin: 6px;
    display: block;
  }
  
  .gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  
  .gallery__selector:checked + .gallery__img {
    opacity: 1;
  }
  
  .gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
  }
  